{
  "env": {
    "browser": false,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "no-console": "error",
    "no-alert": "error",
    "no-debugger": "error",
    "no-empty-function": "error",
    "no-multiple-empty-lines": "error",
    "no-multi-spaces": "error",
    "no-self-compare": "error",
    "no-unused-vars": "error"
  }
}
